/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

/*DOPORUČUJEME*/
.doporucujeme{

}

/*BURGER*/
.hlavni-recept{
    background: url("images/burger.jpg");
    background-repeat: no-repeat;
    color: white;
}

/*RECEPTY

.recepty{
    flex-direction: column;
    min-height: 90px;
}
*/

/*SUSHI*/
.recept2{
    background: url("images/sushi.jpg");
    background-repeat: no-repeat;
}

/*KUŘE*/
.recept3{
    background: url("images/kure.jpg");
    background-repeat: no-repeat;
}

/*OMÁČKY*/
.recept4{
    background: url("images/rajcata.jpg");
    background-repeat: no-repeat;
}

/*GRILOVÁNÍ*/
.recept5{
    background: url("images/grilovani.jpg");
    background-repeat: no-repeat;
}
